.ImageDisplayer  img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.ImageDisplayer {
    height: calc(100% - 32px);
    width: 100%;
    background-color: #f4f4f4;
}

.ImageDisplayer .ImageSpace {
    height: calc(100% - 20px)
}

.ImageDisplayer .ResultSelect {
    height: 20px;
    widows: 100%;
    background-color: #3a3535;
}
